@import 'tailwindcss';
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Bebas Neue', sans-serif;
}

body {
    font-family: 'Bebas Neue', sans-serif;
}
